.tooltip {
  position: absolute;
  top: 0;
  left: 0;
}

.tooltip::after {
  content: ' ';
  position: absolute;
  top: 100%;
  /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #b6b6b6 transparent transparent transparent;
}
